
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=DynaPuff&display=swap");
/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
/*CSS Variables*/
:root {
  --navbar-height: 59px;
}
/*Navigation Bar*/
#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}
#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}
/*Navigation Bar: Logo and Image*/
#logo {
  margin: 6px 30px;
}
#logo img {
  height: 60px;
  margin: 3px 6px;
}
/*Navigation Bar: List Styling*/
#navbar ul {
  display: flex;
  font-family: "DynaPuff", cursive;
}
#navbar ul li {
  list-style: none;
  font-size: 1.3 rem;
}
#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}
#navbar ul li a:hover {
  color: black;
  background-color: white;
}
/*Home Section*/
#home {
  display: flex;
  flex-direction: column;
  height: 550px;
  padding: 3px 200px;
  justify-content: center;
  align-items: center;
}
#home::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("bg.jpg") no-repeat center center/cover;
  height: 642px;
  width: 100%;
  z-index: -1;
  opacity: 0.89;
}
#home h1 {
  color: black;
  text-align: center;
  font-family: "Bree Serif", serif;
}
#home p {
  color: black;
  text-align: center;
  font-size: 1rem;
  font-family: "Bree Serif", serif;
}
/*Services Section*/
#services {
  margin: 8px;
  display: flex;
}
#services .box {
  text-align: center;
  border: 2px solid brown;
  padding: 3px;
  margin: 2px 6px;
  border-radius: 23px;
  background-color: #f1eaea;
  margin-bottom: 20px;
}
#services .box img {
  height: 100px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
#services .box p {
  font-family: "Bree Serif", serif;
}

/*Client Section*/
#client-section {
  height: 400px;
  margin-top: 0px;
}
#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-item {
  padding: 34px;
  position: relative;
}
#client-section::before {
  content: "";
  position: absolute;
  background: url("bg6.avif") no-repeat center center/cover;
  height: 43%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}
#clients img {
  height: 124px;
}
/*Contact Section*/
#contact {
  position: relative;
  margin-top: -117px;
}
#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 538px;
  z-index: -1;
  opacity: 0.7;
  background: url("contact.jpg3.jpg") no-repeat center center/cover;
}
#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 9px;
  font-size: 1.1rem;
}
#contact-box form {
  width: 40%;
}
#contact-box label {
  font-size: 1.3rem;
  font-family: "Bree Serif", serif;
}

/*footer*/
footer {
  background-color: black;
  color: white;
  padding: 9px 20px;
}

/*Utility Classes*/
.h-primary {
  font-family: "Bree Serif", serif;
  font-size: 2.8rem;
  padding: 12px;
}
.h-secondary {
  font-family: "Bree Serif", serif;
  font-size: 1.8rem;
  padding: 12px;
}
.btn {
  padding: 6px 14px;
  border: 2px solid #81b7ed;
  background-color: #20c997;
  font-family: "DynaPuff", cursive;
  color: #6c757d;
  margin: 17px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}
.center {
  text-align: center;
}
